<header class="header">
  <div class="flex-container" class="nav-menu">            
    <a href="/" class="brand-logo">Deeplook</a>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active"><md-icon class="material-icons">home</md-icon>Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active"><md-icon class="material-icons">business</md-icon>About</a></li>
      <li><a routerLink="/help" routerLinkActive="active"><md-icon class="material-icons">help</md-icon>Help</a></li>
    </ul>
   <!--  <div hide-gt-xs show-xs>
      <div class="menu-wrapper">
        <md-menu>
          <button aria-label="homemenu" class="menu-btn" ng-click="header.openMenu($mdMenu, $event)">
           <md-icon md-menu-origin class="Material Icons">menu</md-icon>
          </button>
          <md-menu-content width="4">
            <md-menu-item>
              <a href="/"><button>
              <md-icon class="material-icons" md-menu-align-target>home</md-icon>
                Home
              </button></a>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
             <a ui-sref="public.about"> <button>
                <md-icon class="material-icons">help</md-icon>
                Help
              </button></a>
            </md-menu-item>
            <md-menu-item>
             <a ui-sref="public.help"> <button>
               <md-icon class="material-icons">help</md-icon>
                About
              </button></a>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div> -->
  </div>
</header>